---

# ADD HASHICORP OFFICIAL PREPOSITORY

- name: UBUNTU | OS-specific tasks
  block:

    - name: UBUNTU | Add required package
      become: true
      apt:
        name: gpg-agent
        state: present

    - name: UBUNTU | Add HashiCorp repository gpg-key
      become: true
      apt_key:
        url: https://apt.releases.hashicorp.com/gpg
        state: present

    - name: UBUNTU | Add HashiCorp official repository
      become: true
      apt_repository:
        repo: "deb [arch=amd64] https://apt.releases.hashicorp.com {{ ansible_distribution_release | lower }} main"
        state: present
        mode: '0644'
        update_cache: true
  when: ansible_distribution | lower == 'ubuntu'

- name: CENTOS | OS-specific tasks
  block:

    - name: CENTOS | Add required package
      become: true
      yum:
        name: yum-utils
        state: present

    - name: CENTOS | Add HashiCorp official repository
      become: true
      get_url:
        url: "https://rpm.releases.hashicorp.com/{{ release }}/hashicorp.repo"
        dest: /etc/yum.repos.d/HashiCorp.repo
        mode: '0644'
      vars:
        release: RHEL
  when: ansible_distribution | lower == 'centos'

# INSTALL APPLICATION(S)

- name: INSTALL | Consul
  become: true
  package:
    name: "{{ consul_package }}"
    state: present
  when: consul_install

- name: INSTALL | Vault
  become: true
  package:
    name: "{{ vault_package }}"
    state: present
  when: vault_install

- name: INSTALL | Nomad
  become: true
  package:
    name: "{{ nomad_package }}"
    state: present
  when: nomad_install