---
name: Check Ansible Role
on:
  workflow_dispatch: {}
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Molecule Check
        id: molecule
        uses: ./.github/actions/molecule #./
        with:
          molecule-command: converge
          molecule-scenario: centos
