---
name: Check HashiCluster Role
on:
  workflow_dispatch: {}
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  molecule-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: molecule
        uses: ./.github/actions/molecule
        with:
          molecule-command: test
          molecule-scenario: centos
