---
name: Check HashiCluster Role
on:
  workflow_dispatch: {}
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  molecule-test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        os:
          - centos-7
          - centos-8
          #- ubuntu-18.04
          #- ubuntu-20.04
        include:
          - os: centos-7
            NAME: centos
            TAG: 7
          - os: centos-8
            NAME: centos
            TAG: 8
          #- os: ubuntu-18.04
          #  NAME: geerlingguy/docker-ubuntu1804-ansible
          #  TAG: latest
          #  COMMAND: /sbin/init
          #- os: ubuntu-20.04
          # NAME: geerlingguy/docker-ubuntu2004-ansible
          #  TAG: latest
          #  COMMAND: /sbin/init

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"

      - name: local actions at root
        run: "ln -fs ${GITHUB_REPOSITORY}/.github/actions ./actions"

      - name: molecule
        uses: ./actions/molecule
        with:
          image-name: "${{ matrix.NAME }}"
          image-tag: "${{ matrix.TAG }}"
          image-command: "${{ matrix.COMMAND }}"
          molecule-command: 'test'
